* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: auto;
  position: relative;
  overflow: hidden;
  /* color: #fff; */
}

.slide-item {
  position: relative;
}

.stt {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}

.btn-direction {
  padding: 4px 8px;
}

.btn-direction:hover {
  padding: 4px 8px;
  background-color: bisque;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
}

.prev {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #fff;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #fff;
  transform: translateY(-50%);
}

.slide-decr {
  position: absolute;
  bottom: 20px;
  color: #fff;
  right: 50%;
  font-size: 20px;
  transform: translateX(50%);
}

.dots {
  display: flex;
  /* position: absolute;
    bottom: 10px; */
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ccc;
  margin: 4px;
  cursor: pointer;
}

.active {
  background-color: rgb(105, 98, 98);
}

.fadeRight {
  animation: formRight 1s;
}

@keyframes fromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.fadeLeft {
  animation: formLeft 1s;
}

@keyframes fromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
